@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__nav-wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
}

.main {
	min-height: calc(100vh - 224px - 320px);
    padding-top: calc(64px + 16px);
}

.footer {
	width: 100%;
	height: 320px;
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter {
  flex: 1 0 33.3333%;
  max-width: 33.3333%;

  @media screen and (max-width: 1024px) {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 15px 0;
  }
}

.newsletter__title {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    color: rgba(0,0,0,.8);
    padding-bottom: 15px
}

@media screen and (max-width: 1024px) {
    .newsletter__title {
        padding:15px 0
    }
}

.newsletter__description {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(0,0,0,.8)
}

.newsletter__form {
    margin-top: 12px;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.2s;
}

.newsletter__input {
    width: 100%;
    height: 32px;
    padding: 0 128px 0 8px;
    background: #fff;
    border: 0;
    border-radius: 4px 0 0 4px;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(0,0,0,.8)
}

.newsletter__submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 12px;
    background: #c70101;
    background-image: linear-gradient(to left,#c70101 50%,#940101 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    transition: .2s
}

.newsletter__submit.--proccess {
    background-position: 0 0;
    color: transparent
}

.newsletter__submit.--proccess::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px;
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: #940101;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    z-index: 1
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.newsletter__submit:hover {
    background-position: 0 0
}

.newsletter__form.--disabled .newsletter__input,.newsletter__form.--disabled .newsletter__submit {
    opacity: .4;
    pointer-events: none
}


.alert-box {
  display: block;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 480px;
  padding: 12px 24px;
  margin: 0 auto;
  background: #c70101;
  border-radius: 5px;
  box-shadow: 0 4px 50px 0 rgb(0 0 0 / 10%);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  z-index: 10001;
}

.alert-box.--error {
  background: #c70101;
}

.alert-box.--success {
  background: #5faf23;
}

.main__wrapper {
    width: 100%;
    max-width: 1280px;
    padding: 48px 32px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.main__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 48px 32px;
}

.product-card {
    width: 100%;
}
